.footer {
   background: #1E2F40;
   color: #FFFFFF;
   padding-top: 117px;
   padding-bottom: 106px;
}

.logo {
   width: 63px;
   height: 56px;
}
.item h2 {
   font-weight: 800;
   font-size: 20px;
   line-height: 38px;
   text-transform: uppercase;
   margin-bottom: 12px;
}
.item li {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   margin-bottom: 9px;
   font-size: 15px;
   color: #faf9f9;
   line-height: 24px;

} 
.item a {
   display: block;
   color: #dedede;
   font-weight: 400;

}
.item span {
   color: #dedede;
   display: block;
   font-weight: 400;
   margin-bottom: 2px;
}
.tel ul {
   font-weight: 800;
   font-size: 20px;
   line-height: 38px;
   text-transform: uppercase;
   color: #FBB731;
   
   }
   .tel li {
      margin-bottom: 12px;
   }
   


